<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <title>Hello from Flask</title>
  {% if data %}
    {% for d in data %}
    <div class="container">
      <div><a href="https://www.instagram.com/{{d.acc}}/" target="_blank">Акк: {{d.acc}}</a></div>
      <div>Имя: {{d.name}}</div>
      <div>Подписчиков: {{d.fol}}</div>
      <div>Телефон: {{d.tel}}</div>
    </div>
    {% endfor %}
  {% endif %}

  {% if err %}
    <div class="err">{{err}}</div>
  {% endif %}

  {% if add_info %}
    <div>{{add_info}}</div>
  {% endif %}

</html>
