<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <title>Instagram parser</title>

  {% if err %}
    <div class="err">{{err}}</div>
  {% endif %}

  {% if data %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя</ht>
          <th scope="col">Подписчиков</th>
          <th scope="col">Телефон</th>
          <th scope="col">Ссылки</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
          <tr>
            <th scope="row">{{d.key}}</th>
            <td>
              {% if d.pic %}
                <img src="{{d.pic}}" height=30/>
              {% endif %}
              <a href="https://www.instagram.com/{{d.acc}}/" target="_blank">{{d.name}} ({{d.acc}})</a></td>
            <td>{{d.fol}}</td>
            <td>{{d.tel}}</td>
            <td>
              {% if d.links %}
                <a href="{{d.links}}" target="_blank">{{d.links}}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if add_info %}
    <div>{{add_info}}</div>
  {% endif %}

</html>
